{% extends "base.html.twig" %}

{% block head parent() %}

{% block content %} 
{% set img = '/a/img/heroes/' %}
{% set ext = '.jpg' %}
<div class="hero">
    <h1>Choose a Counter for {{ hero.getName }}:</h1>
    <ul class='hero-list'>
    {% for counter in heroes %}
        <li style='position:relative;'>
            {% if counter.slug == hero.getSlug %}
            <div class="overlay-dark"></div>
            {% endif %}
            <a href="/hero/{{ hero.getSlug }}/counter/{{ counter.getSlug }}/up">
                <img class='hero-icon-70px' src="{{ img ~ counter.getSlug ~ ext }}" />
                {% if counter.slug != hero.getSlug %}
                <div class="overlay"></div>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer parent() %}

