{% extends "base.html.twig" %}

{% block head parent() %}

{% block content %} 
<div class="hero">
    <h2 class="grey"><span style="color:#ffa500; font-size:20px;">Error:</span> {{ error }} </h2>
</div>
{% endblock %}

{% block footer parent() %}

