{% extends "base.html.twig" %}

{% block head parent() %}

{% block content %} 
<div class="login">
    <h1>Login</h1>
    <p class="error">{{ error }}</p>
    <form class="form" action="/login" method="post">
        <div class="controls">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value=""></input>
        </div>
        <div class="controls">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" value=""></input>
        </div>
        <input type="submit" class="button"></input>
        <a href="/register" class="button">Register</a>
    </form>
</div>
{% endblock %}

{% block footer parent() %}

