{% extends "base.html.twig" %}

{% block head parent() %}

{% block content %} 
<div class="login">
    <h1>Register a new account:</h1>
    <p class="error">{{ error }}</p>
    <form class="form" action="/register" method="post">
        <div class="controls">
            <label for="email">Email:</label>
            <input type="text" id="email" name="_email" value=""></input>
        </div>
        <div class="controls">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value=""></input>
        </div>
        <div class="controls">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" value=""></input>
        </div>
        <div class="controls">
            <label for="password">Re-Password:</label>
            <input type="password" id="password2" name="_password2" value=""></input>
        </div>
        <input type="submit" class="button"></input>
    </form>
</div>
{% endblock %}

{% block footer parent() %}

